
@font-face {
  font-family: 'TradeGothicLTStd';
  src: url('../font/TradeGothicLTStd/TradeGothicLTStd.eot?#iefix') format('embedded-opentype'),
  url('../font/TradeGothicLTStd/TradeGothicLTStd.otf')  format('opentype'),
  url('../font/TradeGothicLTStd/TradeGothicLTStd.woff') format('woff'),
  url('../font/TradeGothicLTStd/TradeGothicLTStd.ttf')  format('truetype'),
  url('../font/TradeGothicLTStd/TradeGothicLTStd.svg#TradeGothicLTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlteHaasGrotesk_Bold';
  src: url('../font/AlteHaasGrotesk_Bold/AlteHaasGrotesk_Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/AlteHaasGrotesk_Bold/AlteHaasGrotesk_Bold.woff') format('woff'),
  url('../font/AlteHaasGrotesk_Bold/AlteHaasGrotesk_Bold.ttf')  format('truetype'),
  url('../font/AlteHaasGrotesk_Bold/AlteHaasGrotesk_Bold.svg#AlteHaasGrotesk_Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ********************************* GLOBAL ********************************* */
body {
  margin: 0px;
  background-color: rgb(255, 255, 255);
  font-family: 'TradeGothicLTStd';
  color: #000;
  margin-bottom: 70px;
}

h2, h3, h4, h5, h6 {
  color: rgb(81, 101, 103);
}

h2 {
  font-size: 48px;
  font-weight: 300;
  font-family: 'AlteHaasGrotesk_Bold';
}

h3 {
  font-size: 25px;
  font-weight: 300;
  font-family: 'AlteHaasGrotesk_Bold';
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-size: 22px;
  font-weight: 300;
  font-family: 'TradeGothicLTStd';
}

h5 {
  font-size: 18px;
  font-weight: 300;
  font-family: 'TradeGothicLTStd';
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  color: rgb(142, 161, 161);
  text-decoration: none;
  cursor: pointer;
  font-family: 'TradeGothicLTStd';
}

p {
  text-align: justify;
  font-family: 'TradeGothicLTStd';
}

hr {
      border: 0.5px rgb(81, 101, 103) solid;
    margin: 20px 10%;
}

select {
  width: 100%;
}

select.notSet {
  color: rgb(117, 117, 117);
}

.pure-g [class*=pure-u] {
  font-family: 'TradeGothicLTStd';
}

@media (min-width: 768px) {
  h3 {
    font-size: 30px;
  }

  body {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {

}

/* ********************************* GLOBAL CLASS ********************************* */
.text-small {
  font-size: 12px;
}

.center {
  text-align: center;
}

.verticalCenter {
  display: table;
  height: 100%;
  margin: auto;
}

.verticalCenter > div {
  vertical-align: middle;
  display: table-cell;
}

.pure-img-responsive {
  width: 100%;
  height: auto;
}

.bgimage {
 background-size: cover;
 background-position: 100% 43%;
 min-height: 28vw;
 height: 40vh;
}

ul.inline li {
  display: inline-block;
}

.border {
  border-radius: 200px;
  border: 3px solid #000000;
  padding: 18px;
  padding-bottom: 11px;
  margin: 16px 8%;
  display: inline-block;
  position: relative;

}

.border:before {
  background: none;
  border: 1px solid #000000;
  border-radius: 200px;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

.border img{
  border: 1px solid transparent;
  border-radius: 200px;
  max-width: 100px;
}

[class*=pure-u] {
  box-sizing: border-box;
}

.pure-button-primary {
  background: rgb(81, 101, 103);
}

input[type=text],input[type=tel],input[type=email], textarea {
  width: 100%;
}

@media (min-width: 768px) {
  [class*=pure-u] {
    padding: 0px 10px;
  }
}

@media (max-width: 767.98px) {
  [class*=pure-u] {
    padding: 10px 0px;
  }
}

/* ********************************* LOGO ********************************* */
#logo-placeholder {
  padding: 10px;
  padding-bottom: 0px;
  box-sizing: border-box;
  height: 30vh;
}

#logo-container {
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  transition: all 0.2s ease-out;
}

#logo-container img {
  height: 30vh;
  max-width: 80vw;
  transition: all .3s ease;
}

/* ********************************* MENU ********************************* */
#menu {
 background-color: rgba(255, 255, 255, 0.9);
 margin-left: -220px; /* "#menu" width */
 width: 220px;
 position: fixed;
 left: 0;
 bottom: 0;
 z-index: 1; /* so the menu or its navicon stays above all content */
 overflow-y: auto;
 -webkit-overflow-scrolling: touch;
 text-align: center;
}

#menu a {
  padding: 10px;
  color: #BBB;
}

#menu a:hover,
#menu a:focus,
#menu .pure-menu-selected a {
  color: #777;
  background-color: transparent;
}

#menu, .menu-link {
  transition: all 0.2s ease-out;
}

@media (min-width: 768px) {
  #menu {
    box-sizing: border-box;
    margin-left: 0px;
    bottom: unset;
    width: 100%;
    padding: 10px 0px;
    margin-top: 16px;
  }

  #layout.active .menu-link {
    left: 220px;
  }

  .pure-md-menu-horizontal {
    width: 100%;
    white-space: nowrap;
  }

  .pure-md-menu-horizontal .pure-menu-list {
    display: inline-block;
  }

  .pure-md-menu-horizontal .pure-menu-item {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
  }
}

/* ********************************* MENU MOBILE ********************************* */
.menu-link {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0,0,0,0.7);
  font-size: 10px;
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

.menu-link span:after {
  margin-top: 0.6em;
}

@media (min-width: 768px) {
  .menu-link {
    position: fixed;
    left: 220px;
    display: none;
  }
}

@media (max-width: 767.98px) {
  #menu {
    background-color: rgb(81, 101, 103);
    transition: background-color 0.7s ease;
  }
}

/* ********************************* STRUCTURE ********************************* */
#main {
  padding-top: 14px;
}

#layout {
  position: relative;
  left: 0;
  padding-left: 0;
  padding-top: 30vh;
}

@media (max-width: 767.98px) {
  #layout.active #menu {
    left: 220px;
    width: 220px;
    top: 0;
  }

  #layout.active .menu-link {
    left: 220px;
  }

  #layout.active {
    position: relative;
    left: 220px;
  }

  #logo-container.active {
    left: 220px;
  }
}

@media (min-width: 768px) {
  #main {
    padding-top: 75px;
  }
}

.content-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
  line-height: 1.6em;
}

/* ********************************* HEADER ********************************* */
#header {
  padding: 0;
  margin: 0;
  text-align: center;
}

@media (max-width: 568.97px) {
  #header {
    background-image: url("../img/aperovan_xs.jpg");
  }
}
@media (min-width:569px) and (max-width: 768.97px) {
  #header {
    background-image: url("../img/aperovan_sm.jpg");
  }
}
@media (min-width:769px) and (max-width: 1024.97px) {
  #header {
    background-image: url("../img/aperovan_md.jpg");
  }
}
@media (min-width:1025px) and (max-width: 1280.97px) {
  #header {
    background-image: url("../img/aperovan_xl.jpg");
  }
}
@media (min-width:1281px) and (max-width: 1920.97px) {
  #header {
    background-image: url("../img/aperovan_xxl.jpg");
  }
}
@media (min-width: 1921px) {
  #header {
    background-image: url("../img/aperovan.jpg");
  }
}

#header h2 {
  display: inline-block;
  padding: 4px 20px;
  margin: 0;
  margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.65);
  border:1px solid transparent;
  display: none;
}

@media (max-width: 767.98px) {
  #header h2 {
    padding: 4px;
    font-size: 34px;
  }
}

/* ********************************* CONCEPT ********************************* */
#concept h3 {
  text-transform: uppercase;
}

/* ********************************* CHIFFRE ********************************* */

/* ********************************* EVENT ********************************* */
#event-2 {
  display: none;
}
/*
.images-sliced {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50vw;
}

.images-sliced > div, .images-sliced img {
  width: 100%;
  height: 100%;
}

.images-sliced > div {
  overflow: hidden;
  position: absolute;  
  //arctan(27 / 40) = 0,593749667rad = 34.01935deg 
  //90deg - 34.01935deg = 55.98065deg
  //transform: skewX(-55.98deg);
  transform: skewX(-63.44deg);
 }
 .images-sliced > div:first-child {
  left: -.25em;
  transform-origin: 100% 0;
}
.images-sliced > div:last-child {
  right: -.25em;
  transform-origin: 0 100%;
}
.images-sliced img, .images-sliced > div:after {
  transform: skewX(63.44deg);
  transform-origin: inherit;
}
.images-sliced > div:after {
  position: absolute;
  margin: .5em 1.65em;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 22px;
  padding: 10px;
  letter-spacing: .1em;
  text-transform: uppercase;
  content: attr(data-info);
}
.images-sliced > div:first-child:after { top: 0; left: 0; }
.images-sliced > div:last-child:after { right: 0; bottom: 0; }

.images-sliced:hover > div {
  opacity: 0;
}

.images-sliced > div:hover, .images-sliced > div:hover > img, .images-sliced > div:hover:after {
  opacity: 1;
  transform: skewX(0deg);
  transition: all .3s ease;
}
*/

/* ********************************* PRESTATION ********************************* */

#prestation table {
  margin: auto;
  border-collapse: separate;
}

#prestation th {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 20px;
  color: #FFF;
  text-transform: uppercase;
  background: rgb(81, 101, 103);
}

#prestation td {
  padding: 10px 20px;
  background-color: #FFF;
  border-bottom: 1px solid #ccc;
}

/* ********************************* CUSTOM ********************************* */
/* ********************************* PRODUIT ********************************* */
/* ********************************* GALERIE ********************************* */

/****** MASONRY ******/
#galerie {
  text-align: center;
}

#instagram {
  display: inline-block;
}

#instagram > div {
  padding:0px 4px;
}

#instagram .grid-item {
  padding-bottom: 50px;
}

@media (max-width: 400px) {
  #instagram img {
    width: 100%;
  }
}

/****** FIN MASONRY ******/

/* ********************************* AGENDA ********************************* */
/* ********************************* CONTACT ********************************* */

#contact svg {
  height: 30px;
  transform: rotate(180deg) scaleX(-1);
  margin: 20px;
}

#contact svg:hover path {
  fill: rgb(142, 161, 161);
}

#contact ul {
  text-align: center;
  margin: 0px;
}

.g-recaptcha {
  text-align: center;
}

.g-recaptcha > div {
  display: inline-block;
}

.submit-container {
  padding-top: 10px;
}

.button-success {
  background-color: #5eb95e;
  color: #FFF;
}

footer {
  background-position: 50% 100%;
  background-size: 100%;
  padding: 1px 10px;
}

.texte-obligatoire {
  font-size: 10px;
  text-align: center;
}

#confirmation {
  //color: #5eb95e;
}

#confirmation.hidden-opacity {
  opacity: 0;
  transition: all 0.7s;
}

/* ********************************* MODAL ********************************* */

.js [data-modal], .a11y-modal {
  border: none;
  overflow-x: hidden;
}

.js [data-modal] > div, .a11y-modal > div {
  position: relative;
  top: -38px;
}

.a11y-modal__heading {
  padding-right: 20px;
  text-align: center;
}

*, *:after, *:before {
  box-sizing: unset;
}
.js [data-modal], .js [data-modal]:after, .js [data-modal]:before,
.a11y-modal, .a11y-modal:after, .a11y-modal:before {
  box-sizing: border-box;
  max-height: 80vh;
}

#confidentialite {
  max-width: 80vw;
}

/* ********************************* COOKIE ********************************* */

html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronHidden, 
html #tarteaucitron #tarteaucitronServices .tarteaucitronHidden,
html #tarteaucitron #tarteaucitronServices .tarteaucitronLine,
html #tarteaucitron #tarteaucitronServices .tarteaucitronMainLine:hover,
html #tarteaucitron #tarteaucitronServices .tarteaucitronLine:hover,
html .tac_activate,
html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesTitle {
  background-color: #FFF;
}

html #tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName b,
html #tarteaucitron #tarteaucitronServices .tarteaucitronMainLine .tarteaucitronName a,
html #tarteaucitron #tarteaucitronServices .tarteaucitronTitle a,
html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesTitle b {
  color: rgb(81, 101, 103);
}

html #tarteaucitronAlertBig,
html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronTitle,
html #tarteaucitron #tarteaucitronServices .tarteaucitronTitle,
html #tarteaucitron #tarteaucitronInfo,
html #tarteaucitron #tarteaucitronServices .tarteaucitronDetails,
html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronClosePanelCookie,
html #tarteaucitron #tarteaucitronClosePanel,
html #tarteaucitronAlertSmall {
  background-color: rgb(81, 101, 103);
}

html #tarteaucitronAlertBig,
html #tarteaucitronAlertSmall {
  bottom: 0;
}

html #tarteaucitron #tarteaucitronServices .tarteaucitronMainLine,
html #tarteaucitron #tarteaucitronServices .tarteaucitronLine.tarteaucitronMainLine.allow,
html #tarteaucitron #tarteaucitronServices .tarteaucitronLine.tarteaucitronMainLine.deny,
html #tarteaucitron .tarteaucitronBorder,
html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesTitle,
html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList {
  border: 2px solid rgb(81, 101, 103);
}

html #tarteaucitron #tarteaucitronServices .tarteaucitronMainLine,
html #tarteaucitron #tarteaucitronServices .tarteaucitronLine.tarteaucitronMainLine.allow,
html #tarteaucitron #tarteaucitronServices .tarteaucitronLine.tarteaucitronMainLine.deny,
html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesTitle {
  border-bottom: none;
}

html #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk .tarteaucitronAllow,
html #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk .tarteaucitronDeny,
html .tac_activate .tarteaucitronAllow {
  border: 1px solid #ddd;
  background-color: transparent;
  color: #000;
}

html #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk .tarteaucitronAllow,
html #tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk .tarteaucitronDeny,
html .tac_activate .tarteaucitronAllow {
  border: 1px solid #ddd;
  background-color: transparent;
  color: #000;
}

html #tarteaucitron #tarteaucitronServices .tarteaucitronLine.allow {
  border-left: 5px solid #5eb95e;
}

html #tarteaucitronAlertBig #tarteaucitronCloseAlert,
html #tarteaucitronAlertBig #tarteaucitronPersonalize,
html #tarteaucitron #tarteaucitronServices .tarteaucitronLine.allow .tarteaucitronAsk .tarteaucitronAllow,
html #tarteaucitronAlertSmall #tarteaucitronManager #tarteaucitronDot #tarteaucitronDotGreen,
html .tac_activate .tac_float .tarteaucitronAllow {
  background-color: #5eb95e;
  color: #FFF;
}

html #tarteaucitron #tarteaucitronServices .tarteaucitronLine.deny {
  border-left: 5px solid #dd514c;
}

html #tarteaucitron #tarteaucitronServices .tarteaucitronLine.deny .tarteaucitronAsk .tarteaucitronDeny,
html #tarteaucitronAlertSmall #tarteaucitronManager #tarteaucitronDot #tarteaucitronDotRed {
  background-color: #dd514c;
  color: #FFF;
}

html .tac_activate,
html .tac_activate .tac_float b {
  color: #000;
}

html .tac_activate .tac_float {
  text-align: left;
}

html #tarteaucitronAlertSmall #tarteaucitronCookiesNumber,
html #tarteaucitronAlertSmall #tarteaucitronCookiesNumber:hover,
html #tarteaucitronAlertSmall #tarteaucitronManager:hover,
html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronCookiesListMain,
html #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronCookiesListMain:hover {
  background: transparent;
}